<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <connectionStrings>
    <add name="myDatabaseConnection" connectionString="SERVER=localhost; DATABASE=invara_bd;UID=root;PASSWORD=;Treat Tiny As Boolean=false;" /> 
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" />
  </system.web>

  <!-- SERVICIOS -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, 
          establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata  httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, 
          establezca el valor siguiente en true. Para no revelar información sobre las excepciones 
          establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>

        <behavior name="mex">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>

        <behavior name="MEX">
          <serviceMetadata/>
        </behavior>

      </serviceBehaviors>
    </behaviors>
    
    <services>
      
      <service name="WCF.CajMovimientoService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.ICajMovimiento">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/CajMovimientoService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.CajOperacionService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.ICajOperacion">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/CajOperacionService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.CmpOperacionService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.ICmpOperacion">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/CmpOperacionService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.CmpProveedorService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.ICmpProveedor">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/CmpProveedorService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.CnfCotizacionService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.ICnfCotizacion">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/CnfCotizacionService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.CnfCuentaBancariaService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.ICnfCuentaBancaria">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/CnfCuentasBancariasService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.InvCategoriaService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.IInvCategoria">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/InvCategoriaService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.InvMovimientoService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.IInvMovimiento">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/InvMovimientoService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.InvOperacionService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.IInvOperacion">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/InvOperacionService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.InvProductoService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.IInvProducto">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/InvPrroductoService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.RepCajaService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.IRepCaja">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/RepCajaService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.RepCompraService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.IRepCompra">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/RepCompraService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.RepDashboardService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.IRepDashboard">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/RepDashboardService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.RepInventarioService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.IRepInventario">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/RepInventarioService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.RepVentaService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.IRepVenta">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/RepVentaService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.SisUsuariosService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.ISisUsuarios">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/SisUsuariosService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.SisEmpresaService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.ISisEmpresa">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/SisEmpresaService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.SisListasService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.ISisListas">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/SisListasService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.SisImpuestoService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.ISisImpuesto">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/SisImpuestoService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.SisOperacionService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.ISisOperacion">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/SisOperacionService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.VntClienteService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.IVntCliente">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/VntClienteService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.VntOperacionService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.IVntOperacion">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/VntOperacionService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.ColOperacionService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.IColOperacion">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/ColOperacionService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.ColMovimientoService">
        <endpoint address="" binding="basicHttpBinding" contract="WCF.IColMovimiento">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/ColMovimientoService/" />
          </baseAddresses>
        </host>
      </service>
      
      
      <!--
      

      <service name="WCF.ColNotificacionService" behaviorConfiguration="mex">
        <endpoint address="" binding="netTcpBinding" contract="WCF.IColNotificacion">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="netTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/ColNotificacionService/" />
            <add baseAddress="net.tcp://localhost:8734/Design_Time_Addresses/WCF/ColNotificacionService/"/>
          </baseAddresses>
        </host>
      </service>
      -->

      <!--  
      <service name="WCF.ColNotificacionService" behaviorConfiguration="MEX">
        <endpoint address="" binding="netTcpBinding" contract="WCF.IColNotificacion">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint
            address="mex"
            binding="mexTcpBinding"
            contract="IMetadataExchange"
        />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/ColNotificacionService/"/>
            <add baseAddress="net.tcp://localhost:8734/Design_Time_Addresses/WCF/ColNotificacionService/"/>
          </baseAddresses>
        </host>
      </service>
      
      
      -->
    </services>
    
    <bindings>
      <basicHttpBinding>
        <binding name="MessageSizeBasic" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    
  
  </system.serviceModel>

</configuration>
